<form id="formCreateProduct">
    <input type="text" id="title" placeholder="Ingrese nombre del producto" required/>
    <input type="number" id="price" placeholder="Ingrese precio del producto" required/>
    <input type="number" id="stock" placeholder="Ingrese stock del producto" required/>
    <button type="submit">Agregar producto</button>
</form>

<div class="container" id="realTimeProducts">

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/index.js"></script>